In [1]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if mydb.is_connected():
    print("Connection Established")

Connection Established

In [2]:
mycursor=mydb.cursor()

In [4]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('data',)
('datascience',)
('information_schema',)
('mysql',)
('performance_schema',)
('school',)
('sods',)
('student',)
('sys',)

In [29]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database data_info")

In [11]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
t="CREATE TABLE department(book_id int(4),name varchar(20),price float(5,2))"
mycursor.execute(t)

In [12]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('book',)
('department',)
('employees',)
('student',)

In [16]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)
(1, 'SQL', 550.0)
(1, 'SQL', 550.0)

In [21]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [22]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)
(1, 'SQL', 550.0)
(1, 'Python2', 350.0)
(1, 'SQL', 550.0)

In [23]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [24]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)
(1, 'SQL', 550.0)
(1, 'Python2', 350.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

1 Records affected

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)
(1, 'SQL', 550.0)
(1, 'Python2', 450.0)
(1, 'SQL', 550.0)
(1, 'ML', 450.0)

In [27]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

In [28]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='datascience')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1, 'SQL', 550.0)
(1, 'SQL', 550.0)
(1, 'SQL', 550.0)